<?xml version="1.0"?>
<configuration>
  <configSections>
    <section type="Tests.SimpleConfigSections.DeclareAppConfiguration, Tests.SimpleConfigSections" name="DeclareAppConfiguration"/>
    <section type="Tests.SimpleConfigSections.SectionWithComplexProperty, Tests.SimpleConfigSections" name="SectionWithComplexProperty"/>
    <section type="Tests.SimpleConfigSections.ContainingCollectionConfigSection, Tests.SimpleConfigSections" name="ContainingCollectionConfigSection"/>
    <section type="Tests.SimpleConfigSections.SectionWithRequiredAttribute, Tests.SimpleConfigSections" name="SectionWithRequiredAttribute"/>
  </configSections>

  <DeclareAppConfiguration 
    IntProperty="3"
    DoubleProperty="5.2"
  />

  <SectionWithComplexProperty >
    <ComplexProperty UriProperty="http://google.pl/"/>
  </SectionWithComplexProperty>

  <ContainingCollectionConfigSection>
    <Children>
      <add IntProperty="1" />
      <add IntProperty="2" />
    </Children>
  </ContainingCollectionConfigSection>

  <SectionWithRequiredAttribute />
  
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
