<?xml version="1.0"?>
<configuration>
  <configSections>
    <section type="Tests.SimpleConfigSections.DeclareAppConfiguration, Tests.SimpleConfigSections" name="DeclareAppConfiguration"/>
    <section type="Tests.SimpleConfigSections.SectionWithComplexProperty, Tests.SimpleConfigSections" name="SectionWithComplexProperty"/>
    <section type="Tests.SimpleConfigSections.ContainingCollectionConfigSection, Tests.SimpleConfigSections" name="ContainingCollectionConfigSection"/>
    <section type="Tests.SimpleConfigSections.SectionWithRequiredAttribute, Tests.SimpleConfigSections" name="SectionWithRequiredAttribute"/>
    <section type="Tests.SimpleConfigSections.SectionWithDefaultAttribute, Tests.SimpleConfigSections" name="SectionWithDefaultAttribute"/>
    <section type="Tests.SimpleConfigSections.SectionWithValidators, Tests.SimpleConfigSections" name="SectionWithValidators"/>
    <section type="Tests.SimpleConfigSections.ClassicSection, Tests.SimpleConfigSections" name="ClassicSection"/>
    <section type="Tests.SimpleConfigSections.PerformanceSection, Tests.SimpleConfigSections" name="PerformanceSection"/>
    <section type="Tests.SimpleConfigSections.PublishableConcepts, Tests.SimpleConfigSections" name="PublishableConcepts"/>
    <section type="Tests.SimpleConfigSections.SimpleConfigurationSection, Tests.SimpleConfigSections" name="SimpleConfiguration"/>
  </configSections>

  <DeclareAppConfiguration IntProperty="3" DoubleProperty="5.2"/>
  
  <SectionWithComplexProperty>
    <ComplexProperty UriProperty="http://google.pl/"/>
  </SectionWithComplexProperty>

  <ContainingCollectionConfigSection>
    <Children>
      <add IntProperty="1"/>
      <add IntProperty="2"/>
    </Children>
    <CustomChildren>
      <clearCustom/>      
      <addCustom IntProperty="1"/>      
      <addCustom IntProperty="2"/>      
      <addCustom IntProperty="3"/>      
    </CustomChildren>
  </ContainingCollectionConfigSection>

  <SectionWithRequiredAttribute/>
  <SectionWithValidators ToLong="too long long long long"/>

  <SectionWithDefaultAttribute SettedInConfig="setted in config"/>

  <ClassicSection StringValue="ala ma kota">
    <Child ChildDouble="3.1415"/>
    <Elements>
      <add ChildDouble="3.14151"/>
      <add ChildDouble="3.14152"/>
      <add ChildDouble="3.14153"/>
    </Elements>
  </ClassicSection>
  <PerformanceSection StringValue="ala ma kota">
    <Child ChildDouble="3.1415"/>
    <Elements>
      <add ChildDouble="3.14151"/>
      <add ChildDouble="3.14152"/>
      <add ChildDouble="3.14153"/>
    </Elements>
  </PerformanceSection>


  <PublishableConcepts>
    <Concepts>
      <Concept UniqueId="first"/>
    </Concepts>
    <Volumes>
      <Volume Matcher="kot"/>
    </Volumes>
  </PublishableConcepts>

  <SimpleConfiguration Name="SimpleName" Count="42" Matcher="123abc456">
    <Child Name="SimpleChild"/>
  </SimpleConfiguration>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
